/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    // background-image: url("../src/assets/background-lista.jpg");
    background: #f2dc91;
    background-size: cover;
    background-repeat: no-repeat;
}